* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Header */
.display__block {
    display: block;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: -36px;
    z-index: 6;
}

.header__top {
    height: 36px;
    background-color: #000;
    position: relative;
}

.header__top-search {
    height: 36px;
    cursor: pointer;
    display: flex;
}

.header__top-intro {
    display: flex;
    line-height: 36px;
    font-size: 1.4rem;
    color: #fff;
}

.header__top-time {
    margin: 0 24px;
}

.header__top-search-btn {
    position: relative;
    width: 36px;
    height: 100%;
    background-color: #333;
    margin-left: auto;
    border-radius: 6px;
    color: #fff;
}

.icon {
    font-size: 24px;
    margin: 6px;
    color: #fff;
}

.header__top-search-bar {
    display: none;
    position: absolute;
    right: 0;
    width: 320px;
    height: 88px;
    align-items: center;
    font-size: 1.6rem;
    background-color: #000;
    border: 2px solid #fbd833;
    z-index:3;
}

.header__top-search-btn:hover .header__top-search-bar {
    display: flex;
}

.header__top-search-cate {
    padding: 10px 16px;
    margin: 0 10px;
    background-color: #333;
    border-radius: 18px;
}

#header__top-search-list {
    position:absolute;
    top: 60px;
    min-width: 150px;
    font-size: 1.6rem;
    background-color: rgb(240, 231, 231);
    color: #333;
    padding: 0 4px;
}

.header__top-search-type {
    display: none;
    padding: 4px 0;
}

.header__top-search-all:hover .header__top-search-type {
    display: block;
}

#header__top-search-list {
    list-style: none;
}

.header__top-search-group{
    display: flex;
    height: 36px;
    background-color: #333;
    border-radius: 18px;
    overflow: hidden;
}

.header__top-search-group input{
    color: #FFf;
    background-color: #333;
    padding: 0 10px;
    outline: none;
    font-size: 1.6rem;
    width: 180px;
    border: 0;
    border-top-left-radius: 18px;
}

.header__top-search-group button{
    background-color: #333;
    outline:none;
    border: none;
    cursor: pointer;
}

/* Header-main */

.header__main {
    height: 88px;
    background-color: #000;
}

.header__main-container {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 100%;
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header__main-social {
    display: flex;
    justify-content: center;
    color: #fff;
}

.social-btn {
    width: 40px;
    height: 36px;
    margin: 0 2px;
    border-radius: 4px;
}

.header__main-fb {
    background-color: #3a589d;
}

.header__main-instagram {
    background-image: linear-gradient(	#c32aa3, 	#4c5fd7, #7232bd, #f46f30, #ffdc7d); 
}

.header__main-youtube {
    background-color: #c33223;
}

.iconfb {
    padding-left: 6px;
}

.iconinsta {
    padding-left: 3px;
}

.search2 {
    display: none;
}

.header__main-menu {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-left: 2px;
    padding: 12px 0;
    cursor: pointer;
}

/* Header-bottom */

.header__bottom {
    height: 48px;
    background-color: #333;
}

.header__navbar {
    display: flex;
    list-style: none;
    line-height: 48px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.header__nav1 {
    margin: 0 16px;
    position: relative;
}

.header__nav1 a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
}

.header__nav1::before {
    content: "";
    position: absolute;
    border-width: 1px 0;
    width: 0;
    border-style: solid;
    border-color: #fbd833;
    background-color: #fbd833;
    transform: translateX(-50%);
    left: 50%;
    animation: navtop ease 0.3s;
}

.header__nav1:hover::before {
    width: 100%;
    transition: width 0.3s;
}

@keyframes navtop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__nav1 a:hover {
    color: #fbd833;
    
}

.header__nav1>a:hover .header__nav1::before {
    display: block;
}

.nav-home {
    color: #fbd833;
}

.header__navbar2 {
    display: none;
    position: absolute;
    background-color: #000;
    list-style: none;
    padding: 0;
    border: 2px solid #fbd833;
    border-radius: 8px;
    min-width: 260px;
}

.nav-extend:hover .header__navbar2 {
    display: block;
    z-index: 2;
}

.header__nav2 {
    padding: 0 16px;
}

.header__nav2 a {
    color: #fff;
    text-decoration: none;
}

.header__nav2:hover {
    background-color: #333;
    border-radius: 2px;
}

/* NAV RESPONSIVE */
.nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.nav__overlay-close {
    float:right;
    padding: 4px 6px;
    font-size: 4rem;
    border-radius: 2px;
}

.nav__overlay-close:hover {
    background-color: rgba(255, 255, 255, 0.637);
}

.nav__overlay-rest{
    height: 100%;
    position: absolute;
    left: 240px;
    right: 0;
}

.nav__menu-responsive {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 240px;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 48px 0;
    transform: translateX(-240px);
    transition: transform 0.4s;
}

.nav__menu-responsive>li {
    display: flex;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
    color: #666;
    line-height: 48px;
}

.nav__menu-responsive>li>span{
    padding:  0 20px;
}

.nav__menu-responsive>li>a {
    display: block;
    color: #666;
    text-decoration: none;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding-left: 20px;
    width: 100%;
    line-height: 46px;
}

.nav__menu-res-sub {
    width: 48px;
    height: 48px;
    margin-left: auto;
    text-align:center;
    transform: rotate(0);
    transition: transform 0.3s;
}

.nav__sub-active {
    transform: rotate(180deg);
}

/* .nav__menu-res-sub-active {
    width: 48px;
    height: 48px;
    margin-left: auto;
    text-align:center;
    transform: rotate(180deg);
    transition: transform 0.3s;
} */

.nav__menu-res-2 {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
    animation: navtop ease 0.5s;
}

.nav__res-2-active {
    display: block;
}

/* .nav__menu-res-2-active {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
} */

.nav__menu-res-2 a{
    display: block;
    padding-left: 40px;
    color: #666;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    font-size: 1.3rem;
}

.nav__menu-res-2 a:hover {
    background-color: rgba(153, 153, 153, 0.534);
}

.nav__menu-res-social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
}


/* APPCONTAINER */

.app__container {
    margin-left: 6px;
    margin-right: 6px;
}



/* OLD WATCH LINKS */
.old-watch__link {
    height: 88px;
    background: url(../img/product/tissot-4.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}

.old-watch__link-group {
    display: flex;
    justify-content: space-between;
}

.old-watch__link a{
    line-height: 88px;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    color: #ffd500;
}

.old-watch__link-group1 {
    margin: 0 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffd500;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.old-watch__intro {
    margin: 24px 0;
    font-size: 1.6rem;
    line-height: 24px;
}

.nav__product {
    position: relative;
    display: flex;
}

.nav__product-prev, .nav__product-next {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    height: 38px;
    max-width: 250px;
    line-height: 38px;
    margin: 25px 0;
    color: #f1f1f1;
    padding: 0 20px ;
    border-radius: 24px;
    background-color: rgba(182, 182, 182, 0.4);
    cursor: pointer;
    border: 1px solid rgb(199, 199, 199);
    margin-right: 8px;
}

.nav__product-prev:hover::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 14px;
    width: 80px;
    height: 80px;
    background: url(../img/product/prev-600x600.jpg) no-repeat center;
    background-size: contain;
    border: 2px solid #999;
}


.nav__product-next:hover::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 14px;
    width: 80px;
    height: 80px;
    background: url(../img/product/next-600x600.jpg) no-repeat center;
    background-size: contain;
    border: 2px solid #999;
}

/* PRODUCT IMAGES INFO */
.product__img-and-info {
    margin-top: 32px;
    display: flex;
}

.product__img-group {
    position: relative;
    width: 42%;
}

#imageGallery {
    position: relative;
}

.lSAction > .lSNext {
    right: 26px;
}

.watch__sale-tag {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 8px 8px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #c33223;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.watch__like-tag {
    display: none;
    position: absolute;
    top: 16px;
    right: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 42px;
}

.product__img-group:hover .watch__like-tag {
    display: block;
    animation: navtop ease 0.5s;
}

.watch__like-tag:hover {
    background-color: #c33223;
    animation: navtop ease 0.5s;

}


figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
    
}
  
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}

figure.zoom img:hover {
    opacity: 0;
}

.product__info {
    margin-left: 40px;
    width: 58%;
}

.product__price {
    display: flex;
}

.product__name {
    font-size: 2.8rem;
    line-height: 3rem;
    margin-top: 4px;
    margin-bottom: 14px;
    position: relative;
}

.product__name:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    border-width: 2px 0;
    width: 36px;
    border-style: solid;
    border-color: #dd3333;
    margin: 16px 0;
}

.product__price {
    margin: 36px 0 20px 0;
    line-height: 2.6rem;
}

.product__root-price {
    font-size: 2.4rem;
    text-decoration: line-through;
    color: #999;
    font-weight: 400;
    padding-right: 12px;
}

.product__sale-price {
    font-size: 2.4rem;
}

.product__status-group {
    margin: 0 0 20px 16px;
    font-size: 1.6rem;
    line-height: 2rem;
}

.product__status-group>li {
    margin: 12px;
}

.product__comit {
    background-color: #199cc42e ;
    border: 1px dashed #199bc4;
    border-radius: 4px;
    padding: 10px 10px 10px 30px;
    margin-bottom: 18px;
}

.product__comit>h3 {
    padding: 4px 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.product__warran>span {
    color: #ff3a3a;
    font-weight: 700;
}

.product__info>p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.product__info>p>span {
    font-weight: 600;
}

.minus.is-form,
.input-qty,
.plus.is-form {
    width: 40px;
    height: 40px;
    font-size: 2rem;
}

.product__button-buy {
    height: 40px;
    color: #fff;
    background-color: #ff3a3a;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
    margin: 0 24px;
}

.product__button-contact {
    height: 40px;
    color: #fff;
    background-color: #3367D6;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
}

.header__main-social-2 {
    display: flex;
    justify-content: left;
    color: #fff;
}

.product__button-buy,
.product__button-contact {
    font-size: 1.6rem;
    font-weight: 700;
}

.product__list,
.product__keyword {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin: 10px;
    
}

.product__list>a ,
.product__keyword>a {
    color: #3367D6;
    text-decoration: none;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.lSAction > a {
    z-index: 1;
}



/* PRODUCT TABS INFO */
.product__tabs {
    margin-top: 38px;
    display: flex;
    position: relative;
    border-top: 1px solid rgba(153, 153, 153, 0.452);
}

.product__tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #333;
    transition: all 0.2s ease;
}

.product__tab-item {
    min-width: 50px;
    padding: 16px 16px 11px 16px;
    font-size: 16px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.product__tab-item:hover {
    opacity: 1;
    background-color: rgba(172, 172, 172, 0.425);
    border-color: rgba(59, 59, 59, 0.363);
}

.product__tab-item.active {
    opacity: 1;
}

.product__tab-content {
    padding-top: 28px;
}

.product__tab-pane {
    color: #333;
    display: none;
}

.product__tab-pane.active {
    display: block;
}

.product__tab-pane>img {
    width: 100%;
    margin-bottom: 32px;
}

.product__tab-pane>h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 12px;
}

.product__tab-pane>p {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 12px;
}

.product__tab-pane-box {
    border: 2px solid #333;
    padding: 28px;
}

.product__tab-pane-box>h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
}

.product__tab-pane-box>p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

/* THE RATING STARS */

.product__5stars {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 20px;
    color: gold;
}

#product__comment {
    max-width: 100%;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

#product__comment:focus {
    border-bottom: 2px solid rgb(63, 192, 235);
}





.product__name-mail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product__name-mail-1, 
.product__name-mail-2 {
    width: 45%;
}

.product__name-mail p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.product__name-mail input {
    height: 36px;
    width: 100%;
    outline: none;
}

.product__name-mail input:focus {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 2px solid rgb(63, 192, 235);
}

.product__checkbox {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.product__tab-pane-box>input {
    padding: 0 20px;
    height: 40px;
    margin-bottom: 10px 0;
    color: #fff;
    background-color: #666;
    border: none;
}






/* FOOTERS */
.footer {
    margin-top: 52px;
    background-color: #000;
}

.footer__content {
    color:#fff;
    padding: 30px 0 0 0;
    font-size: 1.4rem;
}

.footer__content a {
    color: #fff;
    text-decoration: none;
}

.footer__column {
    margin-left: 30px;
}

.footer__title {
    padding-top: 20px;
    padding-bottom: 28px;
    position: relative;
    font-weight: 700;
}

.footer__title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    border-width: 1px 0;
    width: 36px;
    border-style: solid;
    border-color: #888;
}

.footer__info {
    padding: 10px 0;
}

.footer__box {
    width: 80%;
    height: 0;
    padding-bottom: 76%;
    background-color: #3367D6;
}

.footer__social {
    display: flex;
    padding: 12px 0;
    font-size: 2.6rem;
}

.footer__social a{
    margin: 4px;
    line-height: 30px;
}

.footer__social-fb {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-fb:hover {
    background-color: #3367D6;
}

.footer__social-insta {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-insta:hover {
    background-image: linear-gradient( #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
}

.footer__social-yt {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-yt:hover {
    background-color: #c33223;
}

.footer__img {
    float: left;
    padding: 12px 0;
}

.footer__img img {
    margin: 8px 8px;
}


.footer__end {
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: rgba(197, 197, 197, 0.74);
    font-size: 1.4rem;
    background-color: #1c1c1c;
}
