* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Header */
.display__block {
    display: block;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: -36px;
    z-index: 6;
}

.header__top {
    height: 36px;
    background-color: #000;
    position: relative;
}

.header__top-search {
    height: 36px;
    cursor: pointer;
    display: flex;
}

.header__top-intro {
    display: flex;
    line-height: 36px;
    font-size: 1.4rem;
    color: #fff;
}

.header__top-time {
    margin: 0 24px;
}

.header__top-search-btn {
    position: relative;
    width: 36px;
    height: 100%;
    background-color: #333;
    margin-left: auto;
    border-radius: 6px;
    color: #fff;
}

.icon {
    font-size: 24px;
    margin: 6px;
    color: #fff;
}

.header__top-search-bar {
    display: none;
    position: absolute;
    right: 0;
    width: 320px;
    height: 88px;
    align-items: center;
    font-size: 1.6rem;
    background-color: #000;
    border: 2px solid #fbd833;
    z-index:3;
}

.header__top-search-btn:hover .header__top-search-bar {
    display: flex;
}

.header__top-search-cate {
    padding: 10px 16px;
    margin: 0 10px;
    background-color: #333;
    border-radius: 18px;
}

#header__top-search-list {
    position:absolute;
    top: 60px;
    min-width: 150px;
    font-size: 1.6rem;
    background-color: rgb(240, 231, 231);
    color: #333;
    padding: 0 4px;
}

.header__top-search-type {
    display: none;
    padding: 4px 0;
}

.header__top-search-all:hover .header__top-search-type {
    display: block;
}

#header__top-search-list {
    list-style: none;
}

.header__top-search-group{
    display: flex;
    height: 36px;
    background-color: #333;
    border-radius: 18px;
    overflow: hidden;
}

.header__top-search-group input{
    color: #FFf;
    background-color: #333;
    padding: 0 10px;
    outline: none;
    font-size: 1.6rem;
    width: 180px;
    border: 0;
    border-top-left-radius: 18px;
}

.header__top-search-group button{
    background-color: #333;
    outline:none;
    border: none;
    cursor: pointer;
}

/* Header-main */

.header__main {
    height: 88px;
    background-color: #000;
}

.header__main-container {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 100%;
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header__main-social {
    display: flex;
    justify-content: center;
    color: #fff;
}

.social-btn {
    width: 40px;
    height: 36px;
    margin: 0 2px;
    border-radius: 4px;
}

.header__main-fb {
    background-color: #3a589d;
}

.header__main-instagram {
    background-image: linear-gradient(	#c32aa3, 	#4c5fd7, #7232bd, #f46f30, #ffdc7d); 
}

.header__main-youtube {
    background-color: #c33223;
}

.iconfb {
    padding-left: 6px;
}

.iconinsta {
    padding-left: 3px;
}

.search2 {
    display: none;
}

.header__main-menu {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-left: 2px;
    padding: 12px 0;
    cursor: pointer;

}

/* Header-bottom */

.header__bottom {
    height: 48px;
    background-color: #333;
}

.header__navbar {
    display: flex;
    list-style: none;
    line-height: 48px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.header__nav1 {
    margin: 0 16px;
    position: relative;
}

.header__nav1 a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
}

.header__nav1::before {
    content: "";
    position: absolute;
    border-width: 1px 0;
    width: 0;
    border-style: solid;
    border-color: #fbd833;
    background-color: #fbd833;
    transform: translateX(-50%);
    left: 50%;
    animation: navtop ease 0.3s;
}

.header__nav1:hover::before {
    width: 100%;
    transition: width 0.3s;
}

@keyframes navtop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__nav1 a:hover {
    color: #fbd833;
    
}

.header__nav1>a:hover .header__nav1::before {
    display: block;
}

.nav-home {
    color: #fbd833;
}

.header__navbar2 {
    display: none;
    position: absolute;
    background-color: #000;
    list-style: none;
    padding: 0;
    border: 2px solid #fbd833;
    border-radius: 8px;
    min-width: 260px;
}

.nav-extend:hover .header__navbar2 {
    display: block;
    z-index: 2;
}

.header__nav2 {
    padding: 0 16px;
}

.header__nav2 a {
    color: #fff;
    text-decoration: none;
}

.header__nav2:hover {
    background-color: #333;
    border-radius: 2px;
}

/* NAV RESPONSIVE */
.nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.nav__overlay-close {
    float:right;
    padding: 4px 6px;
    font-size: 4rem;
    border-radius: 2px;
}

.nav__overlay-close:hover {
    background-color: rgba(255, 255, 255, 0.637);
}

.nav__overlay-rest{
    height: 100%;
    position: absolute;
    left: 240px;
    right: 0;
}

.nav__menu-responsive {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 240px;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 48px 0;
    transform: translateX(-240px);
    transition: transform 0.4s;
}

.nav__menu-responsive>li {
    display: flex;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
    color: #666;
    line-height: 48px;
}

.nav__menu-responsive>li>span{
    padding:  0 20px;
}

.nav__menu-responsive>li>a {
    display: block;
    color: #666;
    text-decoration: none;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding-left: 20px;
    width: 100%;
    line-height: 46px;
}

.nav__menu-res-sub {
    width: 48px;
    height: 48px;
    margin-left: auto;
    text-align:center;
    transform: rotate(0);
    transition: transform 0.3s;
}

.nav__sub-active {
    transform: rotate(180deg);
}

/* .nav__menu-res-sub-active {
    width: 48px;
    height: 48px;
    margin-left: auto;
    text-align:center;
    transform: rotate(180deg);
    transition: transform 0.3s;
} */

.nav__menu-res-2 {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
    animation: navtop ease 0.5s;
}

.nav__res-2-active {
    display: block;
}

/* .nav__menu-res-2-active {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(134, 134, 134, 0.247);
} */

.nav__menu-res-2 a{
    display: block;
    padding-left: 40px;
    color: #666;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    font-size: 1.3rem;
}

.nav__menu-res-2 a:hover {
    background-color: rgba(153, 153, 153, 0.534);
}

.nav__menu-res-social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
}


/* APPCONTAINER */

.app__container {
    margin-left: 6px;
    margin-right: 6px;
}






/* PRODUCT */
.watch__link {
    text-decoration: none;
}

.watch {
    padding-bottom: 12px;
    position: relative;
    overflow: visible;
}

.watch img {
    width: 100%;

}

.watch__info {
    padding: 8px;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.watch__info-status {
    font-size: 1.4rem;
    color: #999;
}

.watch__info-name {
    color: #3367d6;
    padding: 4px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 2.2rem;
}

.watch__info-price {
    color: #999;
    text-decoration: line-through;
}

.watch__info-sale-price {
    color: #000;
    font-weight: 700;
}

.watch__sale-tag {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 8px 8px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #c33223;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.watch__like-tag {
    display: none;
    position: absolute;
    top: 16px;
    right: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 42px;
}

.watch:hover .watch__like-tag {
    display: block;
    animation: navtop ease 0.5s;
}

.watch__like-tag:hover {
    background-color: #c33223;
    animation: navtop ease 0.5s;

}

/* OLD WATCH LINKS */
.old-watch__link {
    height: 88px;
    background: url(../img/old-watch/Many-watches_1920x1080-new2.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}

.old-watch__link-group {
    display: flex;
    justify-content: space-between;
}

.old-watch__link a{
    line-height: 88px;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    color: #ffd500;
}

.old-watch__link-group1 {
    margin: 0 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffd500;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.old-watch__intro {
    margin: 24px 0;
    font-size: 1.6rem;
    line-height: 24px;
}

.sort-bar {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    height: 38px;
    max-width: 250px;
    line-height: 38px;
    margin: 25px 0;
    color: #f1f1f1;
    padding: 0 20px ;
    border-radius: 19px;
    background-color: rgba(182, 182, 182, 0.4);
    cursor: pointer;
    border: 1px solid rgb(199, 199, 199);
}

.sort-bar>span {
    padding-right: 40px;
}

.sortbar__group{
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    list-style: none;
    color:#333;
    font-weight: 400;
    background-color: #f1f1f1;
    line-height: 22px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
}

.sort-bar:hover .sortbar__group {
    display: block;
}

.sortbar__group-item {
    padding: 0 8px;

}

.sortbar__group-item:hover {
    background-color: rgb(196, 196, 196);
}

/* COUNT PAGE */
.count__page-bar {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.count__page-number {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align:center;
    margin: 0 4px;
    border: 2px solid #3d3d3d;
    border-radius: 18px;
    color: #3d3d3d;
    transition: all 0.2s;
}

.count__page-bar>a {
    text-decoration: none;
}

.count__page-number:hover {
    color: #fff;
    background-color: #3d3d3d;
}

.count__page-number-active {
    color: #fff;
    background-color: #3d3d3d;
}

/* FOOTERS */
.footer {
    margin-top: 52px;
    background-color: #000;
}

.footer__content {
    color:#fff;
    padding: 30px 0 0 0;
    font-size: 1.4rem;
}

.footer__content a {
    color: #fff;
    text-decoration: none;
}

.footer__column {
    margin-left: 30px;
}

.footer__title {
    padding-top: 20px;
    padding-bottom: 28px;
    position: relative;
    font-weight: 700;
}

.footer__title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    border-width: 1px 0;
    width: 36px;
    border-style: solid;
    border-color: #888;
}

.footer__info {
    padding: 10px 0;
}

.footer__box {
    width: 80%;
    height: 0;
    padding-bottom: 76%;
    background-color: #3367D6;
}

.footer__social {
    display: flex;
    padding: 12px 0;
    font-size: 2.6rem;
}

.footer__social a{
    margin: 4px;
    line-height: 30px;
}

.footer__social-fb {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-fb:hover {
    background-color: #3367D6;
}

.footer__social-insta {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-insta:hover {
    background-image: linear-gradient( #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
}

.footer__social-yt {
    border-radius: 2px;
    margin: 0 6px;
}

.footer__social-yt:hover {
    background-color: #c33223;
}

.footer__img {
    float: left;
    padding: 12px 0;
}

.footer__img img {
    margin: 8px 8px;
}


.footer__end {
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: rgba(197, 197, 197, 0.74);
    font-size: 1.4rem;
    background-color: #1c1c1c;
}
